form div {
	display: flex;
	align-items: center;
	text-align: left;
	justify-content: center;
}
form div label {
	margin-left: 80%;
}
.submit {
	grid-column: 1 / 3;
}
form {
	padding: 5px 0;
	margin: 10px;
	display: grid;
	font-size: 1.4em;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	/* text-align: right; */
}

label {
	display: block;
	width: 20%;
}
.attendance {
	box-shadow: 1px 1px 1px rgb(70, 70, 70), -1px -1px 1px rgb(66, 66, 66);

	text-emphasis: left;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
}
.attendance label {
	margin: 10px;
	display: block;
	width: 100%;
}
.login {
	text-align: left;
	display: flex;
	flex-direction: column;
}
.login label {
	align-self: flex-start;
}
.login input {
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	background: none;
}
.login input:focus {
	/* border: none; */
	outline: none;
}
.login button {
	margin: 20px;
	width: 100%;
}
