form div {
	display: flex;
	align-items: center;
	text-align: left;
	justify-content: center;
}
form div label {
	margin-left: 80%;
}
.submit {
	grid-column: 1 / 3;
}
form {
	padding: 5px 10vw;
	margin: 10px;
	display: grid;
	font-size: 1.4em;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	/* text-align: right; */
}

label {
	display: block;
	width: 20%;
}
.attendance {
	text-emphasis: left;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
}
.attendance label {
	margin: 10px;
	display: block;
	width: 100%;
}
