.active {
	background-color: #535bf2;
	color: white;
}
nav {
	position: sticky;
}
nav ul {
	background-color: rgba(0, 0, 0, 0.356);
	/* padding: 0 10vw; */
	display: flex;
	justify-content: space-around;
}
nav ul li {
	width: 100%;
	/* margin-bottom: 3vh; */
	list-style-type: none;
}
nav ul li a {
	display: block;
	text-shadow: 1px 1px 3px rgb(32, 50, 214), -1px -1px 3px rgb(39, 75, 238);
	border-radius: 3px;
	/* background-color: #cacaca; */
	margin: 2px;
	padding: 2vh 2vw;
}
nav ul li a:hover {
	text-shadow: 2px 2px 3px rgb(197, 228, 60), -2px -2px 3px rgb(207, 186, 64);

	color: white;
}
a {
	font-size: 1.2em;
	font-weight: 500;
	color: #7980ff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}
@media screen and (max-width: 400px) {
	.mainNav {
		position: sticky;
		bottom: 1vh;
	}
}
